/* text highlight color */
::selection {
   background: #777; /* WebKit/Blink Browsers */
   color: #fff;
}
::-moz-selection {
   background: #777; /* Gecko Browsers */
   color: #fff;
}

/* pre-defined elements */
html {
   height: 100%;
   font-family: Roboto !important;
}

body {
   width: 100%;
   height: 100%;
   margin: 0;
   background: linear-gradient(to top, #FC9243, #FFC133 10%, #FFF999, #BFEDFF 75%);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

h1 {
   font-family: Karla;
   text-transform: uppercase;
   font-weight: lighter;
   letter-spacing: 2px;
}

h2 {
   font-family: Karla;
   text-transform: uppercase;
   font-weight: lighter;
   letter-spacing: 4px;
   font-size: 24px;
   text-align: center;
}

h4 {
   font-weight: normal;
   line-height: 1.5em;
}

ul {
   margin-bottom: 30px;
   list-style-type: square;
}

li {
   margin-bottom: 15px;
}

a {
   color: #fff;
}

a:hover {
   opacity: 0.7;

}

footer {
   background-image: linear-gradient(to bottom, #4472C4, #072C6D);
   width: 100%;
   height: auto;
}

.references {
   padding-top: 50px;
   max-width: 980px;
   padding-bottom: 50px;
   display: inline-block;
   text-align: left;
   color: #fff;
}

/* top stuff */
.intro {
   width: 100%;
   height: auto;
   padding-top: 150px;
   padding-bottom: 100px;
   background-color: rgba(255,255,255,.5);
}

.description {
   display: inline-block;
   text-align: left;
   width: 100%;
   max-width: 980px;
   font-size: 20px;
}

.arrow {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20px;
   height: auto;
   padding-top: 25px;
}

/* mini balloons */
.mini {
   position: absolute;
   top: -50px;
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: auto;
}

.balloon-box {
   margin-left: auto;
   margin-right: auto;
   width: 100px;
   height: 200px;
}

.mini-left {
   display: block;
   width: 100px;
   height: auto;
   position: absolute;
}

.mini-right {
   display: block;
   width: 100px;
   height: auto;
   position: absolute;
}

#mini1, #mini3 {
   animation: 5000ms ease-in-out infinite bop-up;
}

#mini2, #mini4 {
   animation: 5000ms ease-in-out infinite bop-down;
}

@keyframes bop-up {
   0%, 100% {
      padding-top: 10px;
   }
   25% {
      padding-top: 20px;
   }
   50% {
      padding-top: 10px;
   }
   75% {
      padding-top: 0px;
   }
}

@keyframes bop-down {
   0%, 100% {
      padding-top: 10px;
   }
   25% {
      padding-top: 0px;
   }
   50% {
      padding-top: 10px;
   }
   75% {
      padding-top: 20px;
   }
}
/* prompts */
.prompt-container {
   position: absolute;
   left: 0px;
   width: 30%;
   min-width: 450px;
   max-width: 500px;
   min-height: 850px;
   height: auto;
   z-index: 1;
}

.prompts {
   position: relative;
   font-size: 17px;
   left: 50px;
   top: 50px;
   height: auto;
}

/* intro to sliders */
.explain {
   position: absolute;
   right: 0px;
   width: 30%;
   min-width: 450px;
   max-width: 500px;
   min-height: 850px;
   height: 100%;
}

.header {
   position: relative;
   z-index: 10;
   width: 100%;
   left: 50px;
   top: 50px;
}

/* probability buttons */
.left {
   position: absolute;
   width: 49%;
   min-width: 223px;
   left: 0;
}

.right {
   position: absolute;
   width: 47%;
   min-width: 214px;
   right: 0;
}

/* buttons */
.button {
   font-family: Karla;
   width: 100%;
   position: relative;
   background: #000;
   opacity: 0.7;
   border: none;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding: 15px 30px;
   margin-top: 10px;
   text-align: center;
   font-size: 14px;
   cursor: pointer;
   outline: none;
   z-index: 1;
}

.reset {
   font-family: Karla;
   position: absolute;
   background: none;
   opacity: 0.7;
   border: none;
   color: #000;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 18px;
   cursor: pointer;
   outline: none;
   right: 0;
   top: 20px;
}

.more {
   font-family: Karla;
   background: #000;
   opacity: 0.7;
   border: none;
   color: #fff;
   width: 100%;
   top: 0;
   margin-bottom: 20px;
   padding: 12px 15px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 14px;
   cursor: pointer;
   outline: none;
   opacity: 0.7;
}

.button:hover,
.reset:hover,
.more:hover {
   opacity: 1;
   outline: none;
}

.math {
   font-family: Karla;
   width: 100%;
   margin-top: 30px;
   margin-bottom: 0px;
   background: none;
   border: 2px solid #000;
   color: #000;
   padding: 10px 15px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 18px;
   cursor: pointer;
   outline: none;
   opacity: 0.7;
}

.math:hover {
   border: none;
   background-image: linear-gradient(to left, #A98666, #A57380, #736C9B, #7499AD);
   padding: 12px 15px;
   color: #fff;
   opacity: 1;
}

/* The Modal (background) */
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.7);
}

/* The Modal (background) */
.modal {
   display: none;
   position: fixed;
   z-index: 100;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.7);
}

/* pop-up */
.modal-content {
   background-color: #fff;
   margin: auto;
   padding: 50px;
   border: none;
   width: 80%;
   height: auto;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 32px;
}

.close {
   opacity: 0.7;
   color: #000;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   opacity: 1;
   text-decoration: none;
   cursor: pointer;
}

/* sliders */
.slidecontainer {
   width: 100%;
   position: absolute;
   z-index: 10;
   top: 75px;
   right: 50px;
}

.slider {
   -webkit-appearance: none;
   width: 100%;
   height: 15px;
   background-image: linear-gradient(to right, #a8e1ff, #9dede9);
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
}

.slider:hover {
   opacity: 1;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 15px;
   height: 15px;
   outline: none;
   background: #000;
   cursor: pointer;
}

.slider::-moz-range-thumb {
   width: 15px;
   height: 15px;
   outline: none;
   background: #000;
   cursor: pointer;
}

.extra {
   display: none;
}

#more1, #more2, #more3 {
   font-size: 16px;
}

.formula {
   position: relative;
   width: 750px;
   height: auto;
   top: 20px;
   display: block;
   margin: auto;
}

/* parameter descriptions */
.info {
   display: none;
   position: absolute;
   padding-left: 135px;
   z-index: 1;
   transition: 0.3s;
   opacity: 0.7;
   font-style: italic;
   font-size: 14px;
}

.des {
   width: 135px;
}


/* interactive */
.game {
   position: relative;
   height: 100%;
   min-height: 850px;
   width: 100%;
}

.cloud {
   background-image: url("images/cloud.png");
   background-size: auto 100%;
   background-repeat: no-repeat;
   position: relative;
   z-index: 0;
   width: 500px;
   height: 100px;
   transition: 0.3s ease-in-out;
   left: 0px;
   top: 235px;
   filter: brightness(50%);
   display: none;
}

.balloon {
   background-size: auto 100%;
   background-repeat: no-repeat;
   position: absolute;
   left: calc(50% - 140px);
   width: 280px;
   height: 400px;
   transition: 0.3s ease-in-out;
   z-index: 10;
}

.lightwaves {
   width: 100%;
   background-image: url("images/light.png");
   background-size: cover;
   position: absolute;
   bottom: 0px;
   animation: 10000ms ease-in-out infinite light-waves;
}

@keyframes light-waves {
   0%, 100% {
      height: 90px;
   }
   25% {
      height: 85px;
   }
   50% {
      height: 90px;
   }
   75% {
      height: 95px;
   }
}

.darkwaves {
   width: 100%;
   background-image: url("images/dark.png");
   background-size: cover;
   position: absolute;
   bottom: 0px;
   animation: 10000ms ease-in-out infinite dark-waves;
}

@keyframes dark-waves {
   0%, 100% {
      height: 90px;
   }
   25% {
      height: 95px;
   }
   50% {
      height: 90px;
   }
   75% {
      height: 85px;
   }
}

/* trying out responsive features */
@media screen and (max-width: 1330px) {
   /* prompts */
   .prompt-container {
      width: calc(100% - 40px);
      min-width: calc(100% - 40px);
      max-width: calc(100% - 40px);
      height: auto;
      min-height: auto;
   }

   .prompts {
      width: calc(100% - 40px);
      margin-left: -10px;
   }

   /* intro to sliders */
   .explain {
      width: calc(100% - 40px);
      min-width: calc(100% - 40px);
      max-width: calc(100% - 40px);
   }

   .header {
      width: calc(100% - 40px);
      margin-left: -10px;
   }

   /* sliders */
   .slidecontainer {
      width: calc(100% - 40px);
      min-width: calc(100% - 40px);
      max-width: calc(100% - 40px);
      height: auto;
      min-height: auto;
      margin-right: -10px;
      z-index: 10;
   }

   .game {
      margin-top: 1300px;
   }
}

@media screen and (max-width: 1060px) {
   .description {
      width: calc(100% - 40px);
   }

   .references {
      width: calc(100% - 40px);
      padding-top: 20px;
   }

   #mainTitle, #subtitle {
      margin-left: 20px;
      margin-right: 20px;
   }

   #pL {
      width: 100% !important;
   }

   .cloud {
      width: 250px;
      height: 50px;
   }

   .balloon {
      width: 252px;
      height: 360px;
      left: calc(50% - 126px);
   }
}

@media screen and (max-width: 768px) {
   .intro {
      padding-top: 75px;
   }

   .formula {
      width: 100%;
   }

   /* mini balloons */
   .mini {
      top: -30px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;
   }

   .balloon-box {
      margin-left: auto;
      margin-right: auto;
      width: 50px;
      height: 100px;
   }

   .mini-left {
      display: block;
      width: 50px;
      height: auto;
      position: absolute;
   }

   .mini-right {
      display: block;
      width: 50px;
      height: auto;
      position: absolute;
   }
}

@media screen and (max-width: 540px) {
   .left, .right {
      width: 100%;
      position: relative;
   }

   #hint {
      padding-top: 0px !important;
   }
}
